{% extends 'dashboard/shared/base.html' %}
{% block container %}

<div class="app-content content">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div> 
	<div class="content-wrapper pt-0">

<form action="{% url 'forget_password' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary btn-sm">Submit</button> 
    <br>
    <br>
    
    <!-- Display Error Messages -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</form>
</div>
{% endblock %}
