{% extends 'dashboard/shared/base.html' %}

{% block container %}

<!-- BEGIN: Content-->
<div class="app-content content">
	<div class="content-wrapper pt-0 px-1">
		<div class="content-body">
			<!-- Dashboard Analytics Start -->
			<section id="dashboard-analytics">
				<div class="row">
					<div class="col-12">
						<h5 class="pb-1 font-weight-bolder">Reviews\{{review_type}}</h5>
					</div>
				</div>
				
				<div class="main-dash row">
					<div class="col-6">
						<div class="row">
							<div class="search-view col-6 d-flex">
								<div class="techpointdropdown" style="width: 100%;">
									<button class="btn dropdown-toggle font-weight-bolder revabst-tech-btn text-start" type="button">
										Technical Points
									</button>
								</div>
							</div>
							<div class="search-view col-6 d-flex">
								<div class="genpointdropdown" style="width: 100%;">
									<button class="btn dropdown-toggle font-weight-bolder revabst-gen-btn text-start" type="button">
										General Points
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="search-view col-6 d-flex justify-content-end">
						<div class="row" style="width:100%;">
							<div class="col-5">
								<div class="revrepo-btn">
									<button type="button" id="Review_report"
										class="btn font-weight-bold d-flex justify-content-center align-items-center"><i
											class="bi bi-eye d-flex justify-content-center align-items-center me-1"></i>Review
										Report
									</button>
								</div>
							</div>
							<div class="col-7">
								<div class="row d-flex justify-content-end">
									<div class="col-xxl-6 col-xl-6 col-lg-6 col-1 col-md-1 col-sm-1 p-0 d-flex justify-content-end">
										<div class="saverev-btn">
											<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-black btn btn-outline font-weight-bold d-flex justify-content-center align-items-center px-1">
												<i class="bi bi-bookmark d-flex justify-content-center align-items-center pe-1 ps-1"></i>
												<span>Save Report</span>
											</button>
										</div>
									</div>
									<div class="col-xxl-6 col-xl-6 col-lg-6 col-2 col-md-2 col-sm-2 d-flex justify-content-end" style="padding-left:2px">
										<div class="sendrev-btn">
											<button type="button" class="text-black btn btn-outline font-weight-bold d-flex justify-content-center align-items-center px-1">
												<i class="bi bi-share d-flex justify-content-center align-items-center pe-1 ps-1"></i>
												<span>Share Report</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>				
				</div>

				<!-- File Page Pagination -->
				<div id="pagination-container"
					style="user-select: none; margin-top: 1px; margin-bottom: 2px; position: absolute; right: 23%;">
					<span id="prev-button" style="cursor: pointer; float: left;">&lt;</span>
					<span id="pagination-text" style="text-align: right; display: inline-block;"></span>
					<span id="next-button" style="cursor: pointer; float: right;">&gt;</span>
				</div>

				<div class="row mt-1">
					<div class="col-6">
						<div class="row main-revabst mt-1">
							<div class="col-6" id="revabst-tech" style="overflow: auto; height: 123vh;"> 
								<div class="accordion revabst-accordion" id="accordionExampletech" style="--bs-accordion-btn-icon-width: 0.85rem;"> 
									<!-- Technical Point -->
									{% load custom_filters %}
									{% for subk, subv in Technical.items %}
									<div class="accordion-item">
										<h4 class="accordion-header" id="{{subk|hyphanate}}">
											<button class="accordion-button {{subk|hyphanate}}-btn font-weight-bolder d-flex text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{subk|hyphanate}}" aria-expanded="true" aria-controls="collapse{{subk|hyphanate}}" data-category="{{subk|hyphanate}}">
												{{subk}} <span class="rounded-2 border-1 pendstat px-1 fw-bold">Pending</span>
											</button>
										</h4>

										<div id="collapse{{subk|hyphanate}}" class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="{{subk|hyphanate}}" data-bs-parent="#accordionExampletech">
											<div class="accordion-body {{subk|hyphanate}}-body" style="font-size: 12px;">
												{% for k, v in subv.items %}	
												<div class="row font-weight-bold ps-lg-1 ps-md-0 ps-sm-0 ps-xl-3 ps-xxl-3 fs-6 text-black" style="margin-top: 5px;">{{k}}</div> 
												{% for i, j in v.items%}
												<div class="row font-weight-bold ps-lg-1 ps-md-0 ps-sm-0 ps-xl-3 ps-xxl-3 mt-1 text-black">{{i}}</div>
												<div class="row reqopt">
													<div class="col-lg-3 col-md-4 ps-lg-1 ps-md-0 ps-sm-0 ps-xl-3 ps-xxl-3 font-weight-bolder">Required </div>
													<div class="col-lg-9 col-md-8 pe-lg-5 pe-md-2">
														<input type="text" class="form-control text-black font-weight-bolder required-disabled-input" name="Required{{i|hyphanate}}_{{subk|hyphanate}}" required-disabled-input aria-label="Default" value="{{j}}" disabled />
													</div>
												</div>
											
												
												<!-- {% for k, v in auto_data.items %}
												{% if i == k %}
												<div class="row" style="margin-top: 0px;" id="autoLabelRow">
													{% if not v %}
													<div class="col-lg-11 col-md-12 pe-4" style="font-size: 10px; text-align: end; color: #022888;"></div>
													{% else %}
													<div class="col-lg-11 col-md-12 pe-4" style="font-size: 10px; text-align: end; color: #022888;">Auto</div>
													{% endif %}
												</div>
												{% endif %}
												{% endfor %} -->
												
												<div class="row reqopt position-relative">
													<div class="col-lg-3 col-md-4 font-weight-bolder">Review</div>
													<div class="col-lg-9 col-md-8 pe-lg-5">
														<input type="text" class="form-control text-black font-weight-bolder" id="Review_update_{{i|hyphanate}}__{{subk|hyphanate}}" name="Reviewed_Result{{i|hyphanate}}_{{subk|hyphanate}}" aria-label="Default" value="{% for dkey, dvalue in auto_data.items %}{% if i == dkey %}{% for item in dvalue %}{{item}}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% endfor %}">
													</div>
													{% for k, v in auto_data.items %}
													{% if i == k %}
													{% if not v %}
													<div class="col-lg-11 col-md-12 pe-4" style="font-size: 10px; text-align: end; color: #022888; position: absolute; top: -15px;"></div>
													{% else %}
													<div class="col-lg-11 col-md-12 pe-4" style="font-size: 10px; text-align: end; color: #022888; position: absolute; top: -15px;">Auto</div>
													{% endif %}
													{% endif %}
													{% endfor %}
												</div>

												<div class="form-check ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4" style="margin-top: 5px;">
													<input class="form-check-input fs-5 border-1 border-dark rounded-0" type="radio" value="Satisfied" name="{{i|hyphanate}}-Satisfaction_{{subk|hyphanate}}" id="{{i|hyphanate}}-Satisfaction__{{subk|hyphanate}}" {% for dkey, dvalue in auto_data.items %} {% if i == dkey %} {% if dvalue|length == 1 and j in dvalue %}checked {% else %}{% endif %}{% else %} {% if dvalue|length != 1 and j in dvalue %} {% else %} checked  {% endif %}{% endif %}{% endfor %} />
													<label class="form-check-label ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4 font-weight-bolder" for="{{i|hyphanate}}-Satisfaction__{{subk|hyphanate}}" style="margin-top: 4px;">Satisfied</label>
												</div>
											
												<div class="form-check ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4">
													<input class="form-check-input fs-5 border-1 border-dark rounded-0" type="radio" name="{{i|hyphanate}}-Satisfaction_{{subk|hyphanate}}" id="{{i|hyphanate}}-NotSatisfaction__{{subk|hyphanate}}" value="Not Satisfied" {% for dkey, dvalue in auto_data.items %} {% if i == dkey %} {% if dvalue|length > 1 or dvalue|length <= 1 and j not in dvalue %} checked {% else %}{% endif %} {% else %} {% if dvalue|length > 1 or dvalue|length <= 1 and j not in dvalue %} {% else %} checked {% endif %}{% endif %}{% endfor %} />
													<label class="form-check-label ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4 font-weight-bold" for="{{i|hyphanate}}-NotSatisfaction__{{subk|hyphanate}}" style="margin-top: 4px;">Not Satisfied</label>
												</div>

												<div class="form-check ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4">
													<input class="form-check-input fs-5 border-1 border-dark rounded-0" type="radio" name="{{i|hyphanate}}-Satisfaction_{{subk|hyphanate}}" id="{{i|hyphanate}}-Considerable__{{subk|hyphanate}}" value="Considerable" />
													<label class="form-check-label ms-1 ms-sm-1 ms-md-0 ms-lg-3 ms-xl-4 font-weight-bold" for="{{i|hyphanate}}-Considerable__{{subk|hyphanate}}" style="margin-top: 4px;">Considerable</label>
												</div>    

												{% for rkey, rval in review_comment.items %} 
												{% if i == rkey %}								 
												<fieldset class="form-group">
													<textarea name="Technical_review_comment{{i|hyphanate}}_{{subk|hyphanate}}" class="form-control" style="margin-top: 5px;" placeholder="">{{rval.not_satisfy}}</textarea>
												</fieldset> 
												{% endif %} 
												{% endfor %} 
												{% endfor %}	
												{% endfor %}
											</div>
										</div>
									</div>
									{% endfor %} 

									<!-- <div class="d-flex justify-content-end">
										<button type="button" class="btn text-white" style="padding: 8px 20px; background-color: #70D4FF;;margin-top: 4px;font-size: 13px;letter-spacing: 0.7px;">
											Add Note
										</button>
									</div> -->
									
								</div>

								<script>
									const accordionButtons = document.querySelectorAll('button.accordion-button');
									const colors = ['#5f69d1', '#f56629', '#3B722E', '#FB4646', '#437e96', '#bdff5e', '#7d42ad', '#a6c838', '#f8c5b2', '#a02a2d', '#96777b', '#f76f61', '#3fd0fe', '#f8bd40', '#9130ff',]; // Add more colors if needed
									const colors1 = ['#BDC3FF', '#e0a98f', '#b2d3c4', '#f8a9aa', '#93b4c1', '#f1ffdf', '#b5b8d8', '#cbd5ab', '#faf0e9', '#e4b7d7', '#c5bebf', '#f8d6d2', '#e8fafe', '#fef2d7', '#e6dbf7',]; // Add more colors if needed
									let previousAccordion = null;
									// Attach a click event listener to each accordion button
									accordionButtons.forEach(function (button, index) {
										button.addEventListener('click', function () {
											const isExpanded = button.getAttribute('aria-expanded') === 'true';
											// Reset the background color of the previous accordion
											if (previousAccordion !== null && previousAccordion !== button) {
												const previousAccordionBody = previousAccordion.closest('.accordion-item').querySelector('.accordion-body');
												previousAccordion.style.background = '';
											}
											if (isExpanded) {
												// Use a different color based on the index of the button
												button.style.background = colors[index % colors.length];
												// Apply the same color to the accordion body
												const accordionBody = button.closest('.accordion-item').querySelector('.accordion-body');
												accordionBody.style.background = colors1[index % colors1.length];
												// accordionBody.style.opacity='0.82';
											} else {
												button.style.background = '';
											}
											previousAccordion = button;
										});
									});
								</script>

							</div>

							<div class="col-6" id="revabst-gen" style="overflow: auto; height: 123vh;"> 
								<div class="accordion revabst-accordion" id="accordionExamplegen" style="--bs-accordion-btn-icon-width: 0.85rem;">
									<!-- General section -->
									{% load custom_filters %}
									{% for subk, subv in General.items %}
									<div class="accordion-item fonttech1">
										<h4 class="accordion-header ">
											<button id="{{subk|hyphanate}}" class="accordion-button generalbutton {{subk|hyphanate}} fonttech -btn font-weight-bolder text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{subk|hyphanate}}" aria-expanded="true" aria-controls="collapse{{subk|hyphanate}}" data-category="{{subk|hyphanate}}">{{subk}} <div class="rounded-2 border-1 pendstat px-1">Pending</div>
											</button>
										</h4>
										<div id="collapse{{subk|hyphanate}}" class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="{{subk|hyphanate}}" data-bs-parent="#accordionExamplegen">
											<div class="accordion-body {{subk|hyphanate}}-body" style="font-size: 12px;">  

												{% for k, v in subv.items %}
												<div class="row font-weight-bold ps-lg-1 ps-md-0 ps-sm-0 ps-xl-3 ps-xxl-3 fs-6 text-black" style="margin-top: 5px;">{{k}}</div>
												{% for i, j in v.items%}

												<div class="row font-weight-bold ps-lg-1 ps-md-0 ps-sm-0 ps-xl-3 ps-xxl-3 mt-1 text-black">{{i}}</div>
												<div class="row reqopt">
													<div class="col-lg-3 col-md-4 ps-lg-1 ps-md-0 ps-sm-0 ps-xl-3 ps-xxl-3 font-weight-bolder">Required</div>
													<div class="col-lg-9 col-md-8">
														<input type="text" class="form-control text-black font-weight-bolder required-disabled-input" name="Required{{i|hyphanate}}_{{subk|hyphanate}}" required-disabled-input aria-label="Default" value="{{j}}" disabled />
													</div>
												</div>
												
												<div class="row reqopt position-relative">
													<div class="col-lg-3 col-md-4 font-weight-bolder">Review</div> 
													<div class="col-lg-9 col-md-8 pe-lg-5">
														<input type="text"
														class="form-control text-black font-weight-bolder" id="Review_update_{{i|hyphanate}}__{{subk|hyphanate}}" name="Reviewed_Result{{i|hyphanate}}_{{subk|hyphanate}}"
														aria-label="Default" value="{% for dkey, dvalue in auto_data.items %}{% if i == dkey %}{% for item in dvalue %}{{item}} {% if not forloop.last %},{% endif %}{% endfor %}{% endif %}{% endfor %}">															
													</div>
													{% for k, v in auto_data.items %}
													{% if i == k %}
														{% if not v %}
														<div class="col-lg-11 col-md-12 pe-4 fw-bold" style="font-size: 10px; text-align: end; color: #022888; position: absolute; top: -15px;"></div>
														{% else %}
														<div class="col-lg-11 col-md-12 pe-4 fw-bold" style="font-size: 10px; text-align: end; color: #022888; position: absolute; top: -15px;">Auto</div>
														{% endif %}
													{% endif %}
													{% endfor %}
												</div>

												<div class="form-check ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4" style="margin-top: 5px;">
													<input class="form-check-input rounded-0 border-1 border-dark fs-5" type="radio" id="{{i|hyphanate}}-Satisfaction__{{subk|hyphanate}}" value="Satisfied" name="{{i|hyphanate}}-Satisfaction_{{subk|hyphanate}}" 
													{% for dkey, dvalue in auto_data.items %}  
														{% if i == dkey %}
															{% if dvalue|length == 1 and j in dvalue %}
																checked
															{% endif %}
														{% else %}
														{% endif %}
													{% endfor %} /> 
													<label class="form-check-label ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4 font-weight-bold" for="{{i|hyphanate}}-Satisfaction_{{subk|hyphanate}}" style="margin-top: 5px;">Satisfied</label>
												</div>

												<div class="form-check ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4"> 
													<input class="form-check-input rounded-0 border-1 border-dark fs-5" type="radio" id="{{i|hyphanate}}-NotSatisfaction__{{subk|hyphanate}}" value="Not Satisfied" name="{{i|hyphanate}}-Satisfaction_{{subk|hyphanate}}"
													{% for dkey, dvalue in auto_data.items %}
													{% if i == dkey %}
													{% if dvalue|length > 1 or dvalue|length <= 1 and j not in dvalue %}
													checked
													{% else %}
													{% endif %}
													{% else %}
													{% if dvalue|length > 1 or dvalue|length <= 1 and j not in dvalue %}
													{% else %}
													checked
													{% endif %}
													{% endif %}
													{% endfor %} >
													<label class="form-check-label ms-1 ms-sm-1 ms-md-1 ms-lg-3 ms-xl-4 font-weight-bold" for="{{i|hyphanate}}-NotSatisfaction_{{subk|hyphanate}}" style="margin-top: 5px;">Not Satisfied</label>
												</div>
															
												<fieldset class="form-group">
													<textarea name="Technical_review_comment{{ i|hyphanate }}_{{ subk|hyphanate }}" class="form-control" style="margin-top: 5px;" placeholder="">{% for dkey, dvalue in auto_data.items %}{% if i == dkey %}{% for rkey, rval in review_comment.items %}{% if i == rkey %}{% if dvalue|length == 1 and j in dvalue %}{{ rval.satisfy|striptags }}{% elif dvalue|length > 1 or dvalue|length <= 1 and j not in dvalue %}{{ rval.not_satisfy|striptags }}{% endif %}{% endif %}{% endfor %}{% endif %}{% endfor %}</textarea>
												</fieldset>
								
												{% endfor %}	
												{% endfor %}
														
											</div>
										</div>
									</div>	
									{% endfor %}

									<!-- <div class="d-flex justify-content-end">
										<button type="button" class="btn text-white" style="padding: 8px 20px; background-color: #70D4FF;;margin-top: 4px;font-size: 13px;letter-spacing: 0.7px;">
											Add Note
										</button>
									</div>  -->

								</div>

								<div style="display:none;">
									<label id="requestDetail">{{requestDetail}}</label>
									<label id="docx_file">{{document_path}}</label>
									<label id="fake_img">{{fake_img}}</label>
								</div>

								<script>
									const accordionButtonss = document.querySelectorAll('button.generalbutton');
									const colorss = ['#3fd0fe', '#f8bd40', '#9130ff',]; // Add more colors if needed
									const colors11 = ['#e8fafe', '#fef2d7', '#e6dbf7',]; // Add more colors if needed
									let previousAccordionn = null;
									// Attach a click event listener to each accordion button 
									accordionButtonss.forEach(function (button, index) {
										button.addEventListener('click', function () {
											const isExpanded = button.getAttribute('aria-expanded') === 'true';
											// Reset the background color of the previous accordion
											if (previousAccordionn !== null && previousAccordionn !== button) {
												const previousAccordionBody = previousAccordionn.closest('.accordion-item').querySelector('.accordion-body');
												previousAccordionn.style.background = '';
											}
											if (isExpanded) {
												// Use a different color based on the index of the button
												button.style.background = colorss[index % colorss.length];
												// Apply the same color to the accordion body
												const accordionBody = button.closest('.accordion-item').querySelector('.accordion-body');
												accordionBody.style.background = colors11[index % colors11.length];
												// accordionBody.style.opacity='0.82';
											} else {
												button.style.background = '';
											}
											previousAccordionn = button;
										});
									});
								</script>

							</div>
						</div>
					</div>

					<div class="col-6 mt-0">
						<!-- div insert -->
						<div id="Review_page" style="display: none; margin-top: 12px;">
							<div class="card border">
								<div class="card-body" style="width: 100%; height: 123vh; overflow: auto"> 
									<div class="row text-start" id="review_report">
										<h6 style="font-size: 12px; font-weight: 600;">Generated by {{request.user.full_name}}</h6>
										<hr class="border border-secondary m-0 p-0 mb-1 opacity-50">
										<h6 class="text-center mb-1 fw-bold">Review Result for Abstract</h6> 
										<div class="col-12">
											<form method="post" action="">
												{% csrf_token %}														
												<div id="General_Point_using_jquery"></div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						

						<div id="Pagination_page" class="text-center">
							<div id="image-container" class="mt-1">
								<img class="current-image img-fluid" src="" alt="Current Image" style="height: 123vh; width:auto;">
							</div>

							<script>
								const currentImage = document.querySelector('.current-image');
								const prevButton = document.getElementById('prev-button');
								const nextButton = document.getElementById('next-button');
								const paginationText = document.getElementById('pagination-text');
								const categoryButtons = document.querySelectorAll('.review-pagination-images');
							
								const review_images = {
									"Font":['/static/page_1_with_callout.png', '/static/page_2_with_callout.png', '/static/page_3_with_callout.png', '/static/page_4_with_callout.png', '/static/page_5_with_callout.png', '/static/page_6_with_callout.png', '/static/page_7_with_callout.png', '/static/page_8_with_callout.png', '/static/page_9_with_callout.png', '/static/page_10_with_callout.png', '/static/page_11_with_callout.png', '/static/page_12_with_callout.png', '/static/page_13_with_callout.png', '/static/page_14_with_callout.png', '/static/page_15_with_callout.png'], 
								};									
							
								let currentCategory = "Font";
								let currentIndex = 0;
								const originalSource = review_images[currentCategory][0];
							
								function updateImageAndPagination() {
									currentImage.src = review_images[currentCategory][currentIndex];
									paginationText.textContent = `${currentIndex + 1} of ${review_images[currentCategory].length}`;
								}
							
								function switchCategory(category) {
									if (currentCategory != category) {
										currentCategory = category;
										currentIndex = 0;
										updateImageAndPagination();
									}
								}
							
								categoryButtons.forEach((button) => {
									button.addEventListener('click', () => {
										const category = button.getAttribute('data-category');
										switchCategory(category);
									});
								});
							
								prevButton.addEventListener('click', () => {
									if (currentIndex > 0) {
										currentIndex--;
										updateImageAndPagination();
									} else {
										// If already on the first image, reset to the original source
										currentImage.src = originalSource;
										currentIndex = 0;
										paginationText.textContent = `${currentIndex + 1} of ${review_images[currentCategory].length}`;
									}
								});
							
								nextButton.addEventListener('click', () => {
									if (currentIndex < review_images[currentCategory].length - 1) {
										currentIndex++;
										updateImageAndPagination();
									}
								});
							
								// Initialize with the first image and pagination text
								updateImageAndPagination();
								//end pagination script
							</script>
							
							<div id="myModal" class="modal1">
								<div id="imageContainer" style="height: 100%;">
									<img class="modal-content1" id="img01">
								</div>
							</div>

							<script>
								const imageToZoom = document.querySelector('.current-image');
								const modal = document.getElementById('myModal');
								const modalImg = document.getElementById('img01');
								const imageContainer = document.getElementById('imageContainer');

								imageToZoom.addEventListener('click', function () {
									modal.style.display = 'block';
									modalImg.src = this.src;
									modalImg.alt = this.alt;
									imageContainer.scrollTop = "0";
								});

								modal.addEventListener('click', function () {
									modalImg.className += ' out';
									setTimeout(function () {
										modal.style.display = 'none'; // Fix this line
										modalImg.className = 'modal-content1';
									}, 400);
								});

								document.addEventListener("keydown", function(event) {
									if (event.key === "Escape") {
										modalImg.className += ' out';
										setTimeout(function () {
											modal.style.display = 'none'; // Fix this line
											modalImg.className = 'modal-content1';
										}, 400);
									}
								});
							</script>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
			<div class="modal-content" style="width: 480px;">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Create Review Name</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<input type="text" class="form-control align-content-center" name="review_name" id="requestName" required placeholder="Review Name">
							<span id="reviewid" class="text-danger"></span>
							<span id="duplicatename" class='text-danger'></span>                                      
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
						Cancel
					</button>
					<button type="submit" request_name="{{req_name}}" id="datasave" class="btn btn-primary">
						Create Review
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Content-->

<!--Review report javascript code-->
<script>
	
	$(document).ready(function() {	
		let General = {{ General|safe }};
		let Technical = {{ Technical|safe }};
		
		function puchs(value) {
			let cleanedString = value.replace(/[,."()]/g, '');
			let hyphenatedString = cleanedString.replace(/ /g, '_');
			return hyphenatedString;
		}

		var reviewjson = {General,Technical};
		
		for (let keykey in reviewjson) {
			let techgene=reviewjson[keykey]					

			for (let key in techgene) {

				if (techgene.hasOwnProperty(key)) {
					let subDataend = techgene[key];
					reviewjson[keykey][key] = {};
												
					for (let subKeyend in subDataend) {

						if (subDataend.hasOwnProperty(subKeyend)) {
							let subData= subDataend[subKeyend]
							reviewjson[keykey][key][subKeyend] = {};
							
							for( let subKey in subData){			
								let subKeyWithUnderscores=puchs(subKey)
								let elementRequired = $(`[name="Required${subKeyWithUnderscores}_${puchs(key)}"]`).val();
								let elementReviewedResult = $(`[name="Reviewed_Result${subKeyWithUnderscores}_${puchs(key)}"]`);

								elementReviewedResult.on("input", function(event) {
									let inputValue = elementReviewedResult.val();
									reviewjson[keykey][key][subKeyend][subKey].ReviewedResult = inputValue;

									$(`#ReviewedResult__${subKeyWithUnderscores}_${puchs(key)}_2`).html(reviewjson[keykey][key][subKeyend][subKey].ReviewedResult = inputValue);

									if (event.keyCode === 220) {
										elementReviewedResult.val('');
										reviewjson[keykey][key][subKeyend][subKey].ReviewedResult = '';
									}
								});

								let elementValue = $(`[name="Technical_review_comment${subKeyWithUnderscores}_${puchs(key)}"]`)

								elementValue.on("input", function(event) {
									let inputValue = elementValue.val();
									$(`#ReviewedResult__${subKeyWithUnderscores}_${puchs(key)}_4`).html(reviewjson[keykey][key][subKeyend][subKey].Comment = inputValue);
									if (event.keyCode === 220) {
										elementReviewedResult.val('');
										reviewjson[keykey][key][subKeyend][subKey].Comment = '';	  												
									}												
								});
										
								let isSatisfied = $(`#${subKeyWithUnderscores}-Satisfaction__${puchs(key)}`).is(`:checked`);
								var stat = (isSatisfied === true) ? "Satisfied" : "Not Satisfied";

								$('input[type="radio"]').on('click', function() {
									let id = $(this).attr('id')
									let radio = $(this).val()

									if (id === `${subKeyWithUnderscores}-NotSatisfaction__${puchs(key)}` || id === `${subKeyWithUnderscores}-Satisfaction__${puchs(key)}`) {
										$(`#ReviewedResult__${subKeyWithUnderscores}_${puchs(key)}_3`).html(reviewjson[keykey][key][subKeyend][subKey].Status = radio);
										reviewjson[keykey][key][subKeyend][subKey].Status = radio;
									}

									if (id === `${subKeyWithUnderscores}-Considerable__${puchs(key)}` || id === `${subKeyWithUnderscores}-Satisfaction__${puchs(key)}`) {
										$(`#ReviewedResult__${subKeyWithUnderscores}_${puchs(key)}_3`).html(reviewjson[keykey][key][subKeyend][subKey].Status = radio);
										reviewjson[keykey][key][subKeyend][subKey].Status = radio;
									}

								});

								reviewjson[keykey][key][subKeyend][subKey] = {
									Required: elementRequired,
									ReviewedResult: elementReviewedResult.val(),
									Status: stat,
									Comment: elementValue.val()
								};

							}

						}

					}

				}

			}

		}
				
		function showui() {
			for (var superb in reviewjson) {
				if (reviewjson.hasOwnProperty(superb)) {
					$(`#General_Point_using_jquery`).append(`<div class='my-2'><span class="border border-1 border-dark rounded-2" style="padding: 3px 10px;font-size: 16px; font-weight:bold;">${superb} Points</span></div>`);
					let subsuper = reviewjson[superb];
					
					for (var key in subsuper) {
						$("#General_Point_using_jquery").append(`<div><span  style="font-size: 15px; color:#2f55b8; font-style: italic; text-decoration: underline; font-weight: 800;">Review of ${key}</span></div>`);
						let subp = subsuper[key];
						
						for (var subkey in subp) {
							let formattedSubKey = puchs(subkey);
							$("#General_Point_using_jquery").append(`<div><span class="text-success" style="font-size: 15px; font-weight: bold;" id="ReviewedResult__${formattedSubKey}">${subkey}</span></div>`);
							
							let lstsub = subp[subkey];
							for (var genkey in lstsub) {
								let formattedGenKey = puchs(genkey);
								$("#General_Point_using_jquery").append(`<div><span class="text-danger" style="font-size: 15px; font-weight: bold;" id="ReviewedResult__${formattedGenKey}">${genkey}</span></div>`);
							
								for (var techkey in lstsub[genkey]) {
									let gerRequired=lstsub[genkey]['Required']
									let myString=lstsub[genkey]['ReviewedResult']
									let gerReviewedResult=myString.split(',').map(item => item.trim());
									let gerStatus=lstsub[genkey]['Status']
									let gerComment=lstsub[genkey]['Comment']
									let colors = ["4031e8", "FFF7F1", "BED1CF", "FDE767", "FDE767", "EF4040", "711DB0", "F8BDEB"];
									let atend = lstsub[genkey][techkey];

									$("#General_Point_using_jquery").append(`
									<div class="d-flex">
										<div class="me-3"> 
											<div>Required ${genkey}<span><b>${gerRequired}</b></span></div>
											<div>ReviewedResult : <span><b id ="ReviewedResult__${formattedGenKey}_${puchs(key)}_2">${myString}</b></div>
											<div>Status<b id="ReviewedResult__${formattedGenKey}_${puchs(key)}_3">${gerStatus}</b></div>
											<div class="card m-0 mt-1 p-1">
												<div class="card-body m-0 p-0" style="margin: 0; width: 500px; height: 80px; overflow: auto; word-wrap: break-word;">
													Comment : <br> 
													<label id ="ReviewedResult__${formattedGenKey}_${puchs(key)}_4">${gerComment}</label>
												</div>
											</div>
											<br>
										</div>
									</div>`);

									break
								}

							}
						}
					}
				}
			}
		}

		$(document).ready(function() {
			let isToggled = false;
			$("#Review_report").on("click", function () {
				isToggled = !isToggled;
				updateToggleButtonState();
				showui()
			});

			$(".review-pagination-images").on("click", function () {
				isToggled = false;
				updateToggleButtonState();
			});

			function updateToggleButtonState() {
				if (isToggled) {
					$("#Review_page").show();
					$("#Pagination_page").hide();
					$("#pagination-container").hide();
				} else {
					$("#Review_page").hide();
					$("#Pagination_page").show();
					$("#pagination-container").show();
				}
			}

		});

		
		$("#datasave").on('click',function() {
			let reviewName = $(`[name="review_name"]`).val().trim();
			if (reviewName === "") {
				alert("Please enter a review name.");
				return; 
			}
			
			let req_name = $(this).attr("request_name");
			reqname = req_name.trim() === "" ? "{{review_type}}" : req_name;

			let docx_file = `{{document_path}}`;
			let fake_img=$('#fake_img').text()
			let review_type = '{{review_type}}'
			
			$.ajax({
				url: "/save_review_report/",
				method: "POST",
				headers: {
					"X-CSRFToken": "{{ csrf_token }}",
					"Content-Type": "application/x-www-form-urlencoded"
				},
				data: {
					json_field: JSON.stringify(reviewjson),
					processed_file: fake_img,
					docx_file: docx_file,
					reviewtype :review_type,
					request_name :reqname,
					review_name: reviewName
				},
				success: function(response) {
					if (response.success){
						window.location.href = '/show_all_review/';
					}
					else{
						$("#duplicatename").html(response.message)

					}
				},
				error: function(xhr, status, error) {
					$('#duplicatename').html('Review name already exist')
				}
			});

		});

	});

</script>


{% endblock %}



